@import "variables";
@import "globals";

.Contender {
  width: 100%;
  height: 100%;
}

.polaroid {
  background: #fff;
  padding: 16px;
  box-shadow: 0 3px 19px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  max-width: 500px;
}
.polaroid > img {
  max-width: 100%;
  height: auto;
}

.polaroid:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.caption {
  font-size: 28px;
  text-align: center;
  line-height: 32px;
  font-weight: $light;
  padding: 10px 0;
}

@media (max-device-width: 812px) {
  .caption {
    font-size: 16px;
  }
}

@media (max-device-width: 812px) and (orientation: portrait) {
  .Contender {
    height: 80%;
  }
  .polaroid {
    padding: 14px;
  }
  .caption {
    padding: 6px 0;
  }
}
