@import "variables";
@import "globals";
@import "navfot";

.WaitingPlayers {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.bar {
  display: flex;
  align-items: center;
}

nav {
  justify-content: center;
}

.down {
  justify-content: space-between;
}

.wbutton li {
  width: auto;
}

.waiting-center {
  color: white;
}

.join-banner {
  font-family: $open;
  font-weight: $light;
  padding: 0 20px;
}

.link {
  font-family: $chelsea;
  font-size: 32px;
}

p {
  font-weight: $light;
  font-size: 32px;
}

.btn-start {
  width: 150px;
}
